.a1m9qzja{flex:1}
.aja0x350{text-decoration:none}
.b4xm8rjh{transform:scale(1)}
.b5bqnu92{transform:translateY(-240%)}
.bnt9nn9b{transform:translate(5px)}
.btgdcgtm{transform:translateX(-100%) translateY(-50%)}
.bwjm0vhl{transform:rotate(-90deg)}
.bxpi4b5r{transform:translate3d(0,0,0)}
.byw3xhqn{transition:opacity .3s var(--t-ease),transform .3s var(--t-ease)}
.cgi16xlc{transform:translateZ(0)}
.d7dzraxg{transform:translateX(2px)}
.e95mh68g{transform:translateX(12px)}
.eipqoq80{transform:translate(0,0) scale(.8)!important}
.etdxpurf{transform:translateY(-2px)}
.gk6igrwd{outline:none}
.gqonocmn{transform:translateY(-120%)}
.h442i0ze{transform:translateX(50%) translateY(-100%)}
.hda1r0l0{transform:scale(.82)}
.hir9ny8g{transform:rotate(45deg)}
.hvx74mdw{transform:translateX(50%) translateY(100%)}
.iw1tz1w0{transition:background-color .2s}
.iwt3stqw{transition:transform .15s ease}
.j7iro104{transform:translateY(-360%)}
.jciay5ix{}
.kk3akd72{flex:none}
.n4o0o7gj{transform:scaleX(-1)}
.odkvbdo1{transition:transform .2s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1)}
.pdwgdm2l{transform:rotate(90deg)}
.qbtd8e50{transition:border-color .2px ease-out}
.qdd0en2n{transform:translateY(0)}
.qizq0yyl{transition:transform .3s,opacity .3s}
.qlxkrvdn{transform:translateZ(0);}
.rbxsf3hm{transform:scale(.85)}
.rj4tx0cq{transition:width .3s}
.sqzaidt6{transform:scale(.25)}
.t1844p82{transform:translate3d(100,0,0)}
.teu70ee9{transform:translateX(100%) translateY(-50%)}
.aickbkrb{border-bottom:2px solid rgba(var(--primary-rgb),.75)}
.at9xyjjq{border-bottom:1px solid var(--ptt-draft-waveform-background-border)}
.av59jz02{border-bottom:2px solid var(--checkbox-mark)}
.avd5zzxf{border-bottom:1px solid var(--reactions-bubble-border)}
.b16c6ymn{border-top:1px solid var(--ptt-draft-waveform-background-border)}
.bajl15op{border-bottom:6px solid var(--background-default-hover)}
html:not([dir='rtl']) .bd2x2sk5{border-left:2px solid var(--icon-disabled)}
html[dir='rtl'] .bd2x2sk5{border-right:2px solid var(--icon-disabled)}
html:not([dir='rtl']) .bmro6pka{border-left:1px solid var(--icon-disabled)}
html[dir='rtl'] .bmro6pka{border-right:1px solid var(--icon-disabled)}
.btoh1681{border-top:2px solid var(--icon-disabled)}
.c2eze1zb{border-bottom:2px solid var(--icon-disabled)}
.cc8mgx9x{border-top:0}
.cd4l02zd{border-top:2px solid rgba(var(--primary-rgb),.75)}
.d9802myq{border-bottom:0}
.daad4uqs{border-bottom:1px solid var(--border-default)}
.dl47i6rc{border-top:1px solid var(--border-stronger)}
html:not([dir='rtl']) .e4xiuwjv{border-left:0}
html[dir='rtl'] .e4xiuwjv{border-right:0}
.ei53l81b{border-top:1px solid var(--border-bubble)}
html:not([dir='rtl']) .eta5aym1{border-right:0}
html[dir='rtl'] .eta5aym1{border-left:0}
html:not([dir='rtl']) .fefz13mk{border-right:1px solid var(--border-strong)}
html[dir='rtl'] .fefz13mk{border-left:1px solid var(--border-strong)}
.g0j88qvc{border-top:1px dashed var(--media-inner-border)}
.gjeyj30g{border-bottom:1px solid var(--icon-disabled)}
.grf4wkbn{border-left:none}
html:not([dir='rtl']) .h0ed51ke{border-left:2px solid rgba(var(--primary-rgb),.75)}
html[dir='rtl'] .h0ed51ke{border-right:2px solid rgba(var(--primary-rgb),.75)}
.hcpeg58q{border-top:1px solid var(--reactions-bubble-border)}
html:not([dir='rtl']) .hqx4twni{border-left:1px solid var(--border-stronger)}
html[dir='rtl'] .hqx4twni{border-right:1px solid var(--border-stronger)}
.iupwfssi{border-top:1px dashed var(--border-list)}
.j4zbmt6h{border-bottom:1px solid var(--border-bubble)}
html:not([dir='rtl']) .jkanexlp{border-right:none}
html[dir='rtl'] .jkanexlp{border-left:none}
html:not([dir='rtl']) .m98q8jdg{border-right:2px solid rgba(var(--primary-rgb),.75)}
html[dir='rtl'] .m98q8jdg{border-left:2px solid rgba(var(--primary-rgb),.75)}
.n8n2xqzm{border-bottom:1px solid var(--border-stronger)}
html:not([dir='rtl']) .na7ur5ty{border-right:1px solid var(--icon-disabled)}
html[dir='rtl'] .na7ur5ty{border-left:1px solid var(--icon-disabled)}
html:not([dir='rtl']) .nsmrnv0a{border-left:none}
html[dir='rtl'] .nsmrnv0a{border-right:none}
.ob9ouq0z{border-bottom:1px solid var(--border-strong)}
.oosapc3q{border-top:1px solid var(--border-strong)}
html:not([dir='rtl']) .p6ubcsnv{border-right:1px solid var(--reactions-bubble-border)}
html[dir='rtl'] .p6ubcsnv{border-left:1px solid var(--reactions-bubble-border)}
html:not([dir='rtl']) .pdo9fnbd{border-right:1px solid var(--border-stronger)}
html[dir='rtl'] .pdo9fnbd{border-left:1px solid var(--border-stronger)}
.q0ohlrvj{border-right:2px solid var(--checkbox-mark)}
html:not([dir='rtl']) .q1alctvk{border-right:1px solid var(--ptt-draft-waveform-background-border)}
html[dir='rtl'] .q1alctvk{border-left:1px solid var(--ptt-draft-waveform-background-border)}
.q4zabkcz{border-top:none}
html:not([dir='rtl']) .q568nw76{border-left:1px solid var(--ptt-draft-waveform-background-border)}
html[dir='rtl'] .q568nw76{border-right:1px solid var(--ptt-draft-waveform-background-border)}
.qj9nvfuq{border-bottom:1px solid var(----border-stronger)}
.qldwl5fi{border-bottom:4px solid var(--active-tab-marker)}
.qmxv8cnq{border-bottom:1px solid var(--border-list)}
html:not([dir='rtl']) .qqik71jn{border-left:1px solid var(--reactions-bubble-border)}
html[dir='rtl'] .qqik71jn{border-right:1px solid var(--reactions-bubble-border)}
.rom324v9{border-top:1px solid var(--icon-disabled)}
html:not([dir='rtl']) .sngpozrj{border-right:2px solid var(--icon-disabled)}
html[dir='rtl'] .sngpozrj{border-left:2px solid var(--icon-disabled)}
.swyb62mu{border-top:1px solid var(--border-list)}
.thn59n0e{border-bottom:none}
html:not([dir='rtl']) .tntx47yo{border-left:1px solid var(--border-strong)}
html[dir='rtl'] .tntx47yo{border-right:1px solid var(--border-strong)}
html:not([dir='rtl']) .boshimb4{border-right-color:var(--compose-input-border)}
html[dir='rtl'] .boshimb4{border-left-color:var(--compose-input-border)}
html:not([dir='rtl']) .br6oik82{border-left-color:var(--checkbox-background)}
html[dir='rtl'] .br6oik82{border-right-color:var(--checkbox-background)}
html:not([dir='rtl']) .cfczyq4y{border-right-color:var(--button-background-disabled)}
html[dir='rtl'] .cfczyq4y{border-left-color:var(--button-background-disabled)}
.cmcp1to6{border-bottom-style:solid}
.d1poss59{border-top-style:solid}
html:not([dir='rtl']) .eg0col54{border-left-style:solid}
html[dir='rtl'] .eg0col54{border-right-style:solid}
.fkk8pyer{border-bottom-color:var(--button-background-disabled)}
html:not([dir='rtl']) .g6apb8n0{border-left-color:var(--button-background-disabled)}
html[dir='rtl'] .g6apb8n0{border-right-color:var(--button-background-disabled)}
.gofg5ll1{border-top-width:1px}
html:not([dir='rtl']) .gyj32ejw{border-right-style:solid}
html[dir='rtl'] .gyj32ejw{border-left-style:solid}
html:not([dir='rtl']) .jy0rc3ak{border-left-color:var(--compose-input-border)}
html[dir='rtl'] .jy0rc3ak{border-right-color:var(--compose-input-border)}
.lw07f11l{border-bottom-color:var(--compose-input-border)}
html:not([dir='rtl']) .mzoqfcbu{border-left-width:1px}
html[dir='rtl'] .mzoqfcbu{border-right-width:1px}
.nncek28p{border-bottom-color:var(--checkbox-background)}
.o163osd1{border-top-color:var(--button-background-disabled)}
.oteuebma{border-bottom-width:1px}
html:not([dir='rtl']) .p7waza29{border-right-width:1px}
html[dir='rtl'] .p7waza29{border-left-width:1px}
.qei0rtf7{border-top-color:var(--checkbox-background)}
.rsltai19{border-top-color:var(--compose-input-border)}
html:not([dir='rtl']) .toeh7gh7{border-right-color:var(--checkbox-background)}
html[dir='rtl'] .toeh7gh7{border-left-color:var(--checkbox-background)}
html:not([dir='rtl']) .a0vc5f8u{border-bottom-left-radius:0}
html[dir='rtl'] .a0vc5f8u{border-bottom-right-radius:0}
.a15vwmim{padding-bottom:1px}
.a21kwdn3{animation-fill-mode:forwards}
html:not([dir='rtl']) .a3oefunm{margin-left:10px}
html[dir='rtl'] .a3oefunm{margin-right:10px}
html:not([dir='rtl']) .a4bg1r4i{border-bottom-right-radius:100%}
html[dir='rtl'] .a4bg1r4i{border-bottom-left-radius:100%}
.a4bywxmn{padding-top:24px}
.a4rz4n5c{margin-top:14px}
.a4ywakfo{line-height:1.5}
html:not([dir='rtl']) .a57u14ck{border-top-right-radius:100%}
html[dir='rtl'] .a57u14ck{border-top-left-radius:100%}
.a5uym4to{stroke:var(--spinner-default)}
.a633jkfz{color:var(--panel-primary)}
.a6lcuizr{flex-grow:5}
.a6r0u4sv{color:rgba(var(--primary-strong-rgb),.35)}
.a70a3vn1{top:14px}
.a71rq12o{padding-top:18px}
.a95fzlb5{--T68779821:0 0 32px rgba(var(--background-default-rgb),.95);box-shadow:0 0 32px rgba(var(--background-default-rgb),.95)}
.a95u9rhs{color:var(--ptt-draft-button-play-pause)}
.aa0kojfi{padding-bottom:3px}
html:not([dir='rtl']) .abxuf49s{padding-right:6px}
html[dir='rtl'] .abxuf49s{padding-left:6px}
.ac2vgrno{justify-content:center}
.ackpuwnh{right:4px}
.ad0o4787{stroke:var(--white)}
html:not([dir='rtl']) .afb5cxhb{border-bottom-right-radius:9999px}
html[dir='rtl'] .afb5cxhb{border-bottom-left-radius:9999px}
.afo7vhit{color:rgba(var(--inverse-rgb),.32)}
.aft2yglh{color:var(--svg-secondary-color,var(--secondary))}
.ag5g9lrv{overflow-y:auto}
.aga1he8v{margin-left:28px}
.agi2at81{top:4px}
.aiput80m{padding-bottom:10px}
.aiwu9bi8{opacity:.38}
.ajgl1lbb{cursor:pointer}
html:not([dir='rtl']) .ajyz1gl2{border-top-left-radius:14px}
html[dir='rtl'] .ajyz1gl2{border-top-right-radius:14px}
html:not([dir='rtl']) .akljc1zx{margin-left:1px}
html[dir='rtl'] .akljc1zx{margin-right:1px}
.aliwjmjd{margin-top:-8px}
.amaavye1{background-color:var(--background-default-hover)}
.amd08ebk{box-shadow:0 1px 2px rgba(0,0,0,.09)}
html:not([dir='rtl']) .aoogvgrq{border-bottom-right-radius:50%}
html[dir='rtl'] .aoogvgrq{border-bottom-left-radius:50%}
html:not([dir='rtl']) .ap18qm3b{border-top-left-radius:1.1em}
html[dir='rtl'] .ap18qm3b{border-top-right-radius:1.1em}
html:not([dir='rtl']) .ap6veyk2{border-top-right-radius:5px}
html[dir='rtl'] .ap6veyk2{border-top-left-radius:5px}
.aprpv14t{text-transform:capitalize}
.aquyuamc{background-color:var(--teal)}
html:not([dir='rtl']) .atp9n7ve{padding-right:7px}
html[dir='rtl'] .atp9n7ve{padding-left:7px}
html:not([dir='rtl']) .aumms1qt{border-bottom-left-radius:1.1em}
html[dir='rtl'] .aumms1qt{border-bottom-right-radius:1.1em}
.aus7m8kn{padding-bottom:32%}
html:not([dir='rtl']) .avk8rzj1{margin-left:-30px}
html[dir='rtl'] .avk8rzj1{margin-right:-30px}
.axi1ht8l{opacity:0}
html:not([dir='rtl']) .aznl1635{border-bottom-right-radius:14px}
html[dir='rtl'] .aznl1635{border-bottom-left-radius:14px}
html:not([dir='rtl']) .b021xdil{margin-right:var(--chat-spacing)}
html[dir='rtl'] .b021xdil{margin-left:var(--chat-spacing)}
.b0ysteiu{margin-right:5px}
.b1lctrli{height:var(--sticker-size-panel)}
.b1qcobdr{width:calc(100% - 40px)}
.b1w2sqt8{max-width:350px}
html:not([dir='rtl']) .b4u6kxhc{right:6px}
html[dir='rtl'] .b4u6kxhc{left:6px}
.b73q89nx{animation-name:bz1wtss1-B}
.b7n2qyd4{padding-top:12px}
.b8cdf3jl{padding-top:28px}
.b8z6cu80{width:31%}
.b9fczbqn{z-index:2}
.b9l0eqez{margin-top:1px}
.ba1bgrqy{max-width:417px}
.ba95y10t{top:19px}
.baeo9xnf{width:36px}
.bavixdlz{padding-bottom:13px}
.bbl9m3t3{height:0}
html:not([dir='rtl']) .bbr44loe{border-top-left-radius:8px}
html[dir='rtl'] .bbr44loe{border-top-right-radius:8px}
html:not([dir='rtl']) .bbs9k8l5{border-bottom-left-radius:18px}
html[dir='rtl'] .bbs9k8l5{border-bottom-right-radius:18px}
.bbv8nyr4{white-space:pre-wrap}
.bc38n4nm{color:var(--cart-interstitial-icon)}
html:not([dir='rtl']) .bcfko8ch{margin-right:32px}
html[dir='rtl'] .bcfko8ch{margin-left:32px}
.bcr6az0x{font-weight:300}
html:not([dir='rtl']) .bcymb0na{padding-right:30px}
html[dir='rtl'] .bcymb0na{padding-left:30px}
html:not([dir='rtl']) .bdbt56hn{padding-left:4px}
html[dir='rtl'] .bdbt56hn{padding-right:4px}
.bddvio20{margin-top:25px}
.bfbxj8tr{right:8px}
html:not([dir='rtl']) .bi2mdrpt{border-top-left-radius:0}
html[dir='rtl'] .bi2mdrpt{border-top-right-radius:0}
.bibl1e27{margin-bottom:28px}
.bjmq0orh{font-size:.90625rem}
.bk1nl7o2{flex-grow:4}
.blj1rie1{bottom:4px}
html:not([dir='rtl']) .bmj4fdax{padding-left:1.25em}
html[dir='rtl'] .bmj4fdax{padding-right:1.25em}
.bmot90v7{height:24px}
.bn05jr7j{cursor:zoom-in}
.bo8jc6qi{transition-property:transform}
html:not([dir='rtl']) .boajuire{border-top-left-radius:3px}
html[dir='rtl'] .boajuire{border-top-right-radius:3px}
html:not([dir='rtl']) .bqysl6j9{border-bottom-left-radius:4px}
html[dir='rtl'] .bqysl6j9{border-bottom-right-radius:4px}
.brac1wpa{margin-bottom:10px}
.brh521k9{opacity:.7}
.brqbuz94{height:49px}
.bs7a17vp{opacity:1}
.bsd0t79a{color:var(--ptt-draft-button-play-pause-out-of-chat)}
html:not([dir='rtl']) .bsg2wrd4{margin-right:-20px}
html[dir='rtl'] .bsg2wrd4{margin-left:-20px}
.btb1m7bk{display:grid}
.btzd6xh9{direction:ltr}
html:not([dir='rtl']) .btzf6ewn{padding-right:12px}
html[dir='rtl'] .btzf6ewn{padding-left:12px}
html:not([dir='rtl']) .bugiwsl0{margin-right:8px}
html[dir='rtl'] .bugiwsl0{margin-left:8px}
html:not([dir='rtl']) .bv1sdm6y{margin-left:20px}
html[dir='rtl'] .bv1sdm6y{margin-right:20px}
.bvcnfjzh{height:auto}
.bvgz89zs{stroke-linecap:round}
.bvhm1occ{margin-bottom:30px}
html:not([dir='rtl']) .bx0vhl82{margin-left:-2px}
html[dir='rtl'] .bx0vhl82{margin-right:-2px}
.bx7g2weo{cursor:default}
.bxcbqipq{padding-bottom:5px}
.byvcucqk{min-width:40px}
@keyframes bz1wtss1-B{0%{top:9px;left:6px;width:0;height:0;}100%{top:-1px;left:4px;width:5px;height:10px;}}
.bze30y65{font-size:0.9375rem}
.c0uhu3dl{padding-bottom:.4em}
.c2jc77nu{white-space:initial}
.c46o30wg{margin-top:20px}
.c59meja3{min-width:35px}
html:not([dir='rtl']) .c5wy1lv0{border-bottom-right-radius:4px}
html[dir='rtl'] .c5wy1lv0{border-bottom-left-radius:4px}
.c6axuxzh{margin-top:11px}
.cats8p75{opacity:.55}
.cb8ormfa{text-align:right}
.cbjz30lg{max-width:330px}
.ce5kru2g{color:var(--reactions-bubble-counter)}
.cfzgl7ar{min-width:.9em}
html:not([dir='rtl']) .cgpjrhzi{margin-right:6.5px}
html[dir='rtl'] .cgpjrhzi{margin-left:6.5px}
.cihm0v32{padding-top:72px}
.ckm995li{padding-bottom:4px}
.ckq3dtew{max-width:920px}
.cl7oiv0o{min-height:44px}
html:not([dir='rtl']) .claouzo6{margin-right:6px}
html[dir='rtl'] .claouzo6{margin-left:6px}
html:not([dir='rtl']) .clw8hvz5{padding-right:calc(50% - 250px)}
html[dir='rtl'] .clw8hvz5{padding-left:calc(50% - 250px)}
.cm280p3y{box-sizing:border-box}
html:not([dir='rtl']) .cnpay6qi{border-bottom-left-radius:3px}
html[dir='rtl'] .cnpay6qi{border-bottom-right-radius:3px}
.cnprk2g9{width:112px}
.cogk65jn{bottom:-12px}
.cosm3z4q{width:var(--compose-box-open-menu-width-status-reply)}
.cpfmwfku{transition-property:background-color,border-color}
.cqiun4t2{font-size:1.125rem}
html:not([dir='rtl']) .cqsf3vkf{border-bottom-left-radius:var(--radius-thumb)}
html[dir='rtl'] .cqsf3vkf{border-bottom-right-radius:var(--radius-thumb)}
.cqvkqxai{background-color:var(--toast-background)}
.cr2cog7z{line-height:15px}
.crlpoz9d{width:calc(100% - 80px)}
.crm5a8gb{color:var(--button-primary-background)}
.cs9t9or5{color:var(--icon-fixed)}
@keyframes ctfi49jn-B{0%{color:var(--white);}100%{background-color:rgba(var(--white-rgb),1.0);color:var(--black);}}
.ctv2fiom{padding-bottom:72px}
.cumqsjf0{background-color:var(--drawer-gallery-background)}
.cvsrm5e1{bottom:5px}
html:not([dir='rtl']) .cw0ivh8j{border-bottom-left-radius:8px}
html[dir='rtl'] .cw0ivh8j{border-bottom-right-radius:8px}
.cw3vfol9{word-break:break-word}
.cxec7x23{width:1px}
.cy13c0w7{top:-10px}
html:not([dir='rtl']) .cynldqnp{border-top-left-radius:calc(var(--radius-app) + 1px)}
html[dir='rtl'] .cynldqnp{border-top-right-radius:calc(var(--radius-app) + 1px)}
.d0st09ow{width:29%}
.d1pdhp1p{height:calc(var(--compose-box-menu-height) - 2 * var(--compose-box-top-bottom-padding))}
.d53pemmv{line-height:24}
.d6finlhe{will-change:opacity,transform}
html:not([dir='rtl']) .d6h2ibm4{border-top-right-radius:7px}
html[dir='rtl'] .d6h2ibm4{border-top-left-radius:7px}
@keyframes d8h0nk90-B{100%{transform:translateX(-50%);}}
.d9lyu8cj{height:3px}
.db4qzak4{height:46px}
.dba1p600{stroke:var(--button-primary-background)}
.dblt22a0{margin-bottom:16px}
.dbs0ofhi{top:59px}
html:not([dir='rtl']) .dc5qina8{border-bottom-right-radius:20px}
html[dir='rtl'] .dc5qina8{border-bottom-left-radius:20px}
html:not([dir='rtl']) .ddw6s8x9{padding-left:17px}
html[dir='rtl'] .ddw6s8x9{padding-right:17px}
.de33c33s{color:var(--payment-status-pending)}
.dh5rsm73{width:18px}
.dhq51u3o{height:26px}
.diqd3znl{background-color:var(--checkbox-background)}
.dj1c3cmq{margin-top:8px}
.dj32rci9{width:5px}
.djhxrpsl{max-height:40px}
.dkeqio29{margin-top:22px}
html:not([dir='rtl']) .dl2ettod{margin-left:32px}
html[dir='rtl'] .dl2ettod{margin-right:32px}
html:not([dir='rtl']) .dl6j7rsh{margin-right:-30px}
html[dir='rtl'] .dl6j7rsh{margin-left:-30px}
.dld5k21c{max-width:270px}
.dmdq60dq{color:var(--button-alternative)}
.dn3ua38v{margin-top:var(--h-pane-header)}
.dnb887gk{flex-wrap:nowrap}
.dng4fqht{height:76px}
html:not([dir='rtl']) .dntxsmpk{border-top-left-radius:2px}
html[dir='rtl'] .dntxsmpk{border-top-right-radius:2px}
.do8e0lj9{color:var(--bubble-meta-icon)}
.dpkuihx7{bottom:6px}
.dr6m1ylk{grid-template-columns:repeat(auto-fill,var(--sticker-size-store))}
html:not([dir='rtl']) .ds60debm{margin-right:15px}
html[dir='rtl'] .ds60debm{margin-left:15px}
.dsh4tgtl{font-size:0.75rem}
.du8bjn1j{margin-bottom:20px}
.dud78hvd{color:yellow}
.dwvzf427{margin-top:-2.5px}
.e1gr2w1z{font-weight:normal}
html:not([dir='rtl']) .e1yunedv{padding-left:9px}
html[dir='rtl'] .e1yunedv{padding-right:9px}
.e2xccmyv{margin-bottom:50px}
html:not([dir='rtl']) .e3yfz9gx{border-bottom-right-radius:0}
html[dir='rtl'] .e3yfz9gx{border-bottom-left-radius:0}
.e4eao3g2{align-items:baseline}
.e4p1bexh{height:15px}
.e4qy2s3t{line-height:1.4286}
@keyframes e6ri2msi-B{100%{transform:translateX(50%);}}
html:not([dir='rtl']) .e6tbvuqx{border-bottom-left-radius:7px}
html[dir='rtl'] .e6tbvuqx{border-bottom-right-radius:7px}
html:not([dir='rtl']) .e8k79tju{padding-left:30px}
html[dir='rtl'] .e8k79tju{padding-right:30px}
.e91fykn7{max-width:840px}
html:not([dir='rtl']) .eab7llgz{margin-left:2%}
html[dir='rtl'] .eab7llgz{margin-right:2%}
.eb4rp10x{padding-bottom:6px}
html:not([dir='rtl']) .ebjesfe0{right:0}
html[dir='rtl'] .ebjesfe0{left:0}
.ec1z5skj{margin-bottom:auto}
.ec3rya3v{transition-property:fill-opacity}
html:not([dir='rtl']) .ecxr5yey{border-bottom-right-radius:calc(var(--radius-app) + 1px)}
html[dir='rtl'] .ecxr5yey{border-bottom-left-radius:calc(var(--radius-app) + 1px)}
.eej3x5sv{left:-10px}
.efio351b{bottom:-23px}
.efjhou1r{margin-right:3px}
.eg0stril{top:calc((var(--compose-box-menu-height) - 2 * var(--compose-box-top-bottom-padding) - 24) * .5)}
.eg3lofc5{margin-top:15px}
.egl74e4l{transition-property:opacity,height,transform,width}
.ehl15zf9{animation-duration:.16s}
.ei5e7seu{min-height:1em}
@keyframes eirysc09-B{0%{stroke-dasharray:1,150;stroke-dashoffset:0;}100%{stroke-dasharray:90,150;stroke-dashoffset:-124;}50%{stroke-dasharray:90,150;stroke-dashoffset:-35;}}
.ej3x2ktq{background-color:var(--panel-background-deeper)}
.ej4zaygv{transition-property:opacity,height}
.ekdr8vow{width:26px}
.ekpn4oxx{padding-bottom:12px}
.eliz2k8b{transition-duration:.14s,.14s}
.elxb2u3l{align-items:stretch}
.em5jvqoa{animation-timing-function:ease-out}
.emrlamx0{padding-top:10px}
html:not([dir='rtl']) .en6yos0k{right:5px}
html[dir='rtl'] .en6yos0k{left:5px}
.enbbiyaj{font-size:1rem}
.epdck8xl{background-color:var(--photopicker-overlay-background)}
.epwkujcx{height:36px}
.erpdyial{line-height:21px}
.eruf1vka{color:var(--gray-600)}
.esbfogcw{padding-top:7px}
.eujn52yf{padding-top:4px}
@keyframes ev8ckacf-B{100%{transform:rotate(360deg);}}
.ex3gcxaf{align-self:flex-start}
.exvbdj68{will-change:transform}
.eynyaxvo{padding-bottom:50px}
.f09rd1o5{background-color:var(--ptt-ooc-background)}
.f0mh0h6e{max-height:200px}
.f2yrvmhs{background-color:var(--empty-state-background)}
html:not([dir='rtl']) .f459d30t{margin-left:-20px}
html[dir='rtl'] .f459d30t{margin-right:-20px}
.f4q7vbcz{max-width:336px}
.f6aumy9w{margin-bottom:-3px}
.f6cvynhn{background-color:var(--compose-input-background)}
.f6essjlf{width:164px}
.f6un2avg{right:-10px}
html:not([dir='rtl']) .f78eapp6{padding-left:15px}
html[dir='rtl'] .f78eapp6{padding-right:15px}
.f7v6by6u{bottom:12px}
.f7wxzknn{background-color:var(--sticker-button-background)}
.f804f6gw{display:block}
html:not([dir='rtl']) .f88dsuqf{left:-999999px}
html[dir='rtl'] .f88dsuqf{right:-999999px}
.f8jlpxt4{font-size:0.875rem}
.f8m0rgwh{flex-direction:column}
.f8mos8ky{animation-timing-function:linear}
.f8zw8ovf{min-width:60px}
html:not([dir='rtl']) .f9ovudaz{padding-right:0}
html[dir='rtl'] .f9ovudaz{padding-left:0}
html:not([dir='rtl']) .fahkg6u0{box-shadow:0 1px 0 rgba(0,0,0,.07),0 0 3px rgba(0,0,0,.04)}
html[dir='rtl'] .fahkg6u0{box-shadow:0 1px 0 rgba(0,0,0,.07), 0 0 3px rgba(0,0,0,.04)}
.faxx4fbg{float:right}
.fbgy3m38{padding-top:8px}
.fbvzomvk{gap:12px}
.fd365im1{overflow-wrap:break-word}
.fdmybch3{animation-delay:.4s,2.8s}
.fe33t0ud{left:unset}
.fe3aadhc{height:100px}
.fe5nidar{font-size:1.0625rem}
.fewfhwl7{vertical-align:top}
.fgslzg21{max-height:168px}
.fgtikrv0{margin-top:16px}
.fhelu9n7{margin-bottom:40px}
.fhf7t426{justify-content:flex-start}
html:not([dir='rtl']) .fhfm09ip{padding-right:2px}
html[dir='rtl'] .fhfm09ip{padding-left:2px}
.fi5r6efy{width:86px}
.fmhufpvf{background-color:rgba(var(--white-rgb),.5)}
html:not([dir='rtl']) .folpon7g{padding-right:3px}
html[dir='rtl'] .folpon7g{padding-left:3px}
html:not([dir='rtl']) .fooq7fky{margin-left:8px}
html[dir='rtl'] .fooq7fky{margin-right:8px}
html:not([dir='rtl']) .fqwk616h{border-bottom-right-radius:6px}
html[dir='rtl'] .fqwk616h{border-bottom-left-radius:6px}
.fs6hn1up{height:30px}
.fsmudgz7{filter:blur(var(--blur-radius-thumbnail))}
html:not([dir='rtl']) .ft2m32mm{padding-right:8px}
html[dir='rtl'] .ft2m32mm{padding-left:8px}
.fujac5jc{height:106px}
.fujhy7ri{width:68px}
.futycye9{background-color:var(--active-tab-marker)}
.fwm24tzf{padding-bottom:3.5em}
.fwna6xbl{stroke-dashoffset:0}
.fyqm2y5z{padding-right:10px}
.fyy3ld6e{width:var(--compose-box-menu-item-width)}
html:not([dir='rtl']) .fz4q5utg{right:7px}
html[dir='rtl'] .fz4q5utg{left:7px}
.g01nkquw{color:var(--text-medium-emphasis)}
.g0bfn8tw{color:var(--payment-status-failed)}
.g0rxnol2{position:relative}
html:not([dir='rtl']) .g0zx2qg0{border-bottom-left-radius:99999px}
html[dir='rtl'] .g0zx2qg0{border-bottom-right-radius:99999px}
.g105fvfm{margin-bottom:5px}
html:not([dir='rtl']) .g130k69c{border-top-left-radius:20px}
html[dir='rtl'] .g130k69c{border-top-right-radius:20px}
.g1eqewly{margin-top:3px}
html:not([dir='rtl']) .g1jn521u{border-top-left-radius:18px}
html[dir='rtl'] .g1jn521u{border-top-right-radius:18px}
.g2bpp9au{z-index:10}
.g2xi8p6r{line-height:18px}
.g3ewzqzm{top:-2px}
.g4oj0cdv{min-height:20px}
.g4ti3y4y{color:var(--gray-500)}
.g5crjs6l{visibility:visible}
.g6kkip0l{background-color:var(--drawer-background)}
.g965lu3b{height:10px}
html:not([dir='rtl']) .g9p5wyxn{border-top-left-radius:50%}
html[dir='rtl'] .g9p5wyxn{border-top-right-radius:50%}
.g9q9estb{background-color:var(--message-background-deep)}
html:not([dir='rtl']) .g9zvcdbd{margin-left:12px}
html[dir='rtl'] .g9zvcdbd{margin-right:12px}
.gaqnkt02{animation-timing-function:ease-in-out}
.gaujl5hk{padding-top:14px}
.gc15jzxb{min-height:40px}
.gdaqao4w{margin-bottom:18px}
.gdrnme8s{animation-name:ev8ckacf-B}
.ge6flnsz{opacity:.45}
.gfz4du6o{overflow-x:hidden}
.ggj6brxn{flex-grow:1}
.gha8fw27{width:10em}
.gibn6ev6{stroke:rgba(var(--green-rgb),.7)}
.gire0wgi{position:static}
html:not([dir='rtl']) .gj5xqxfh{margin-left:2px}
html[dir='rtl'] .gj5xqxfh{margin-right:2px}
.gj6qtt9u{flex-grow:3}
.gjuq5ydh{align-self:auto}
.gndfcl4n{align-items:center}
.gq1t1y46{color:var(--bubble-meta)}
.gq7nj7y3{padding-top:50px}
html:not([dir='rtl']) .gqi0zhd6{margin-right:16px}
html[dir='rtl'] .gqi0zhd6{margin-left:16px}
.graaj7av{height:72px}
.grt5ktjy{right:0}
.gt1inm12{color:var(--tooltip-text)}
.gtscxtjd{color:inherit}
html:not([dir='rtl']) .guo0zu0m{left:28px}
html[dir='rtl'] .guo0zu0m{right:28px}
html:not([dir='rtl']) .gwd8mfxi{border-bottom-right-radius:24px}
html[dir='rtl'] .gwd8mfxi{border-bottom-left-radius:24px}
html:not([dir='rtl']) .gwq3iy2m{margin-right:22px}
html[dir='rtl'] .gwq3iy2m{margin-left:22px}
html:not([dir='rtl']) .gx1rr48f{padding-left:0}
html[dir='rtl'] .gx1rr48f{padding-right:0}
@keyframes gxjzahal-B{0%{transform:translateY(5px);opacity:0;}100%{transform:translateY(0);opacity:1;}}
.gy96ms01{right:unset}
.gz7w46tb{line-height:1}
.h0viaqh7{padding-top:.3em}
.h15s16sg{color:var(--background)}
html:not([dir='rtl']) .h1a3x9ys{border-bottom-left-radius:100%}
html[dir='rtl'] .h1a3x9ys{border-bottom-right-radius:100%}
html:not([dir='rtl']) .h1a80dm5{padding-right:24px}
html[dir='rtl'] .h1a80dm5{padding-left:24px}
html:not([dir='rtl']) .h223g3sc{right:20px}
html[dir='rtl'] .h223g3sc{left:20px}
.h2qzpyga{cursor:not-allowed}
.h2zl7k75{min-height:130px}
.h432zind{font-style:italic}
html:not([dir='rtl']) .h5uqwbaf{padding-right:14px}
html[dir='rtl'] .h5uqwbaf{padding-left:14px}
.h6edk2v2{animation-duration:.4s,.3s}
.h9l086de{fill:var(--secondary)}
.hb09shpw{color:var(--payment-status-success)}
.hbhfgwk1{background-size:contain}
.hbnrezoj{animation-duration:2s}
.hc2u0oym{padding-top:19px}
.hd6b059k{top:1px}
.hdpg1tjz{top:-1px}
.hdyxztb8{fill-opacity:.6}
html:not([dir='rtl']) .heai6z19{margin-left:-6px}
html[dir='rtl'] .heai6z19{margin-right:-6px}
.hj839x6e{width:44px}
html:not([dir='rtl']) .hjje1qk3{--T68779821:0 1px 1px rgba(var(--shadow-rgb),.14),0 2px 1px rgba(var(--shadow-rgb),.12),0 1px 3px rgba(var(--shadow-rgb),.2);box-shadow:0 1px 1px rgba(var(--shadow-rgb),.14),0 2px 1px rgba(var(--shadow-rgb),.12),0 1px 3px rgba(var(--shadow-rgb),.2);}
html[dir='rtl'] .hjje1qk3{--T68779821:0 1px 1px rgba(var(--shadow-rgb),.14), 0 2px 1px rgba(var(--shadow-rgb),.12), 0 1px 3px rgba(var(--shadow-rgb),.2);box-shadow:0 1px 1px rgba(var(--shadow-rgb),.14), 0 2px 1px rgba(var(--shadow-rgb),.12), 0 1px 3px rgba(var(--shadow-rgb),.2);}
.hjz8m82x{padding-bottom:32px}
.hmy10g0s{white-space:normal}
.hntizkrm{background-color:var(--button-background-disabled)}
.hnx8ox4h{font-weight:500}
html:not([dir='rtl']) .ho9ovbg7{border-top-left-radius:4px}
html[dir='rtl'] .ho9ovbg7{border-top-right-radius:4px}
.hp5m5kpu{width:200px}
.hp667wtd{color:var(--secondary-lighter)}
.hpdpob1j{height:18px}
.hql59cr1{letter-spacing:-0.2px}
.hr4hzv79{animation-name:gxjzahal-B,ctfi49jn-B}
.hrdw4pet{background-position:0 0}
html:not([dir='rtl']) .hsk1pqkj{border-top-right-radius:0}
html[dir='rtl'] .hsk1pqkj{border-top-left-radius:0}
html:not([dir='rtl']) .htg54gjl{padding-right:31px}
html[dir='rtl'] .htg54gjl{padding-left:31px}
.htjsae3x{line-height:1.25}
html:not([dir='rtl']) .htq1q0kf{margin-left:15px}
html[dir='rtl'] .htq1q0kf{margin-right:15px}
.huo8y3a1{width:var(--compose-box-open-menu-width)}
.hv5pdlef{margin-top:93px}
.hwyr1eu5{min-width:170px}
.hymafltn{margin-top:5px}
.hza3nq4c{background-color:var(--switch-track-checked-color)}
.i033jvx7{white-space:pre-line}
html:not([dir='rtl']) .i0tg5vk9{border-top-right-radius:50%}
html[dir='rtl'] .i0tg5vk9{border-top-left-radius:50%}
.i0x3nve6{width:16px}
.i16jpgpt{background-color:var(--background-default-active)}
.i2cyxsuq{animation-name:d8h0nk90-B}
html:not([dir='rtl']) .i3rsbmdh{border-top-left-radius:7px}
html[dir='rtl'] .i3rsbmdh{border-top-right-radius:7px}
.i44ccddp{overflow-x:auto}
.i4pc7asj{padding-top:17px}
.i5tg98hk{padding-top:0}
html:not([dir='rtl']) .i5w8n1e6{border-bottom-right-radius:3px}
html[dir='rtl'] .i5w8n1e6{border-bottom-left-radius:3px}
.i86elurf{display:inline-flex}
html:not([dir='rtl']) .i8go5xc4{padding-right:9px}
html[dir='rtl'] .i8go5xc4{padding-left:9px}
.i8t1ujht{color:var(--ptt-draft-button-send)}
.i94gqilv{width:24px}
.iauwx4jv{height:37px}
.ibyb1pgl{max-height:100%}
.icj6mcig{height:14px}
.idmi9oma{background-color:rgba(var(--background-default-rgb),.95)}
.if44n927{margin-top:-3px}
html:not([dir='rtl']) .iffbo4e8{padding-right:20px}
html[dir='rtl'] .iffbo4e8{padding-left:20px}
html:not([dir='rtl']) .ig3kka7n{border-top-left-radius:100%}
html[dir='rtl'] .ig3kka7n{border-top-right-radius:100%}
html:not([dir='rtl']) .igb3k0ri{padding-right:19px}
html[dir='rtl'] .igb3k0ri{padding-left:19px}
.ignnouf6{margin-top:28px}
.ihvf49ua{background-color:var(--background-default)}
.iibwf64q{bottom:-10px}
.iin4x6c7{margin-top:6px}
.ijehb8ro{transition-timing-function:easeInSine}
.ijnr8jqx{animation-duration:.12s}
html:not([dir='rtl']) .ikqdvm1y{border-top-left-radius:10px}
html[dir='rtl'] .ikqdvm1y{border-top-right-radius:10px}
html:not([dir='rtl']) .ikqwvqb4{border-top-right-radius:9999px}
html[dir='rtl'] .ikqwvqb4{border-top-left-radius:9999px}
html:not([dir='rtl']) .ikwl5qvt{border-top-right-radius:1.1em}
html[dir='rtl'] .ikwl5qvt{border-top-left-radius:1.1em}
.il1gyv3w{min-width:.8em}
.inogquss{margin-bottom:1px}
.inww9tbj{margin-bottom:4px}
.io08vzmp{color:var(--unread-marker-background)}
.io7enyfj{fill-opacity:1}
.iod7fm94{max-height:296px}
.iqn2u7bu{color:#FFF}
html:not([dir='rtl']) .iqx13udk{padding-right:1px}
html[dir='rtl'] .iqx13udk{padding-left:1px}
html:not([dir='rtl']) .isfiuinm{margin-left:auto}
html[dir='rtl'] .isfiuinm{margin-right:auto}
html:not([dir='rtl']) .isg5rw3j{margin-right:-4px}
html[dir='rtl'] .isg5rw3j{margin-left:-4px}
html:not([dir='rtl']) .itegkywt{padding-right:10px}
html[dir='rtl'] .itegkywt{padding-left:10px}
html:not([dir='rtl']) .ixn6u0rb{border-top-right-radius:2px}
html[dir='rtl'] .ixn6u0rb{border-top-left-radius:2px}
html:not([dir='rtl']) .ixsqo53d{padding-right:34px}
html[dir='rtl'] .ixsqo53d{padding-left:34px}
.iy2cu22y{margin-top:12px}
html:not([dir='rtl']) .iy3dfvyp{padding-left:34px}
html[dir='rtl'] .iy3dfvyp{padding-right:34px}
.j19d4s4u{height:164px}
.j1p1mz06{justify-content:space-around}
html:not([dir='rtl']) .j2mzdvlq{right:8px}
html[dir='rtl'] .j2mzdvlq{left:8px}
.j3as33wi{right:50%}
.j3e9rhaw{min-width:72px}
.j3oq2rgp{color:var(--highlight)}
.j4enbv94{margin-bottom:2px}
.j5au4wul{color:var(--success)}
.j69yk9hm{margin-right:4px}
.j74n1y92{height:112px}
.j7l1k36l{order:0}
.j8e73hjv{height:35px}
html:not([dir='rtl']) .j90th5db{border-bottom-right-radius:1.1em}
html[dir='rtl'] .j90th5db{border-bottom-left-radius:1.1em}
.ja2dfh8z{padding-bottom:85px}
.jbxl65f1{height:34px}
.jd93c9cp{padding-bottom:16px}
html:not([dir='rtl']) .jdimvq34{border-top-right-radius:99999px}
html[dir='rtl'] .jdimvq34{border-top-left-radius:99999px}
.jdreu547{margin-top:-12px}
.jdwybkuq{height:20px}
.je90h8md{background-color:var(--security-icon-background)}
.jevcxcag{z-index:98}
.jfnhg5wd{background-color:inherit}
html:not([dir='rtl']) .jfqm35v0{padding-right:4px}
html[dir='rtl'] .jfqm35v0{padding-left:4px}
.jgi8eev7{line-height:1.4}
.jgly3g7g{width:72px}
.jgz0asyo{top:6px}
.jht8oeb6{background-color:var(--incoming-background)}
.jkv2xdwy{width:128px}
@keyframes jlc02bb6-B{30%{opacity:0;transform:translateY(-50px);}100%{opacity:1;transform:translateY(0);}}
.jnl3jror{z-index:1}
html:not([dir='rtl']) .jnwc1y2a{margin-right:0}
html[dir='rtl'] .jnwc1y2a{margin-left:0}
.joi2o88i{animation-name:e6ri2msi-B}
.jpthtbts{object-fit:cover}
.jq3rn4u7{color:var(--teal)}
.jswlwoyz{width:30px}
.jv8uhy2r{pointer-events:auto}
.jvpa774f{padding-top:.5em}
.jvy3y6qh{background-color:var(--chip-button-background)}
html:not([dir='rtl']) .jwvfxh5v{margin-left:var(--chat-spacing)}
html[dir='rtl'] .jwvfxh5v{margin-right:var(--chat-spacing)}
.jxacihee{bottom:0}
.jzfo78pl{margin-left:auto}
.jzp2c175{padding-bottom:40px}
.k07a8sro{padding-bottom:.3em}
.k0lnf8n4{margin-bottom:14px}
.k17s6i4e{color:var(--inverse)}
html:not([dir='rtl']) .k1a7joe8{border-top-right-radius:20px}
html[dir='rtl'] .k1a7joe8{border-top-left-radius:20px}
html:not([dir='rtl']) .k1jo73ug{margin-right:auto}
html[dir='rtl'] .k1jo73ug{margin-left:auto}
.k2bacm8l{color:var(--primary-stronger)}
.k45dudtp{height:60px}
html:not([dir='rtl']) .k4wy2cgb{padding-left:7px}
html[dir='rtl'] .k4wy2cgb{padding-right:7px}
html:not([dir='rtl']) .k6y3xtnu{margin-left:3px}
html[dir='rtl'] .k6y3xtnu{margin-right:3px}
.k8kmlv7u{background-color:var(--ptt-ooc-avatar-background)}
.kanlod6e{height:1px}
.kb1vfvhz{animation-duration:10s}
.kbtdaxqp{max-width:246px}
.kcgo1i74{justify-content:flex-end}
.kenirpp9{grid-template-rows:repeat(auto-fill,var(--sticker-size-store))}
html:not([dir='rtl']) .kfr1vweg{border-bottom-left-radius:20px}
html[dir='rtl'] .kfr1vweg{border-bottom-right-radius:20px}
html:not([dir='rtl']) .khscay3k{padding-left:20px}
html[dir='rtl'] .khscay3k{padding-right:20px}
.kiiy14zj{margin-top:2px}
html:not([dir='rtl']) .kjemk6od{margin-right:3px}
html[dir='rtl'] .kjemk6od{margin-left:3px}
html:not([dir='rtl']) .kjjye8e3{padding-left:14px}
html[dir='rtl'] .kjjye8e3{padding-right:14px}
.knq0292r{color:red}
.kojwoqec{visibility:hidden}
.kpdgp91a{float:left}
.kqpkm0zi{visibility:hidden!important}
.kr606f8j{min-width:164px}
.ktfrpxia{min-width:0}
.kuml4n87{color:var(--ptt-text)}
.kupmgzgy{text-overflow:clip}
.kv0r5hzt{color:var(--icon-bright-highlight)}
.kv6wexeh{margin-top:-4px}
.kw851w1p{color:rgba(var(--primary-strong-rgb),.32)}
.kx1rlajt{background-color:rgba(var(--overlay-rgb),.5)}
.ky3f94nk{color:var(--active-tab-marker)}
html:not([dir='rtl']) .kyc7k6mt{padding-right:15px}
html[dir='rtl'] .kyc7k6mt{padding-left:15px}
.kzgl1sas{stroke-dasharray:1,150}
.kzrzzy77{color:var(--notification-e2e-icon)}
.kzyzudjh{margin-bottom:3px}
.l07amlnk{flex-basis:1px}
html:not([dir='rtl']) .l147y7tb{border-top-left-radius:6px}
html[dir='rtl'] .l147y7tb{border-top-right-radius:6px}
.l33m68ws{align-self:stretch}
html:not([dir='rtl']) .l3k7h4x6{padding-left:50px}
html[dir='rtl'] .l3k7h4x6{padding-right:50px}
html:not([dir='rtl']) .l5pmshjt{border-top-right-radius:calc(var(--radius-app) + 1px)}
html[dir='rtl'] .l5pmshjt{border-top-left-radius:calc(var(--radius-app) + 1px)}
.l5xxxszt{padding-bottom:var(--padding-psa-message)}
.l7jjieqr{display:inline-block}
.l85iiqla{line-height:1.3125}
html:not([dir='rtl']) .l8fojup5{border-top-left-radius:var(--radius-thumb)}
html[dir='rtl'] .l8fojup5{border-top-right-radius:var(--radius-thumb)}
html:not([dir='rtl']) .l9g3jx6n{padding-right:16px}
html[dir='rtl'] .l9g3jx6n{padding-left:16px}
.lak21jic{font-size:0.6875rem}
.lalctav4{margin-left:8px}
.laorhtua{max-width:100%}
.lb5m6g5c{flex-basis:auto}
.lbj9vhti{background-color:var(--switch-button-color)}
.lbzzw5jd{background-color:var(--ptt-draft-waveform-background)}
.le5p0ye3{white-space:nowrap}
html:not([dir='rtl']) .lfum0007{margin-right:30px}
html[dir='rtl'] .lfum0007{margin-left:30px}
.lgn58c33{--T68779821:0 0 0 2px rgba(var(--color-blue-light-rgb),.4);box-shadow:0 0 0 2px rgba(var(--color-blue-light-rgb),.4)}
.lgxs6e1q{--T68779821:0 0 0 2px rgba(var(--focus-rgb),.5);box-shadow:0 0 0 2px rgba(var(--focus-rgb),.5)}
.lhggkp7q{position:absolute}
.lhj4utae{text-overflow:ellipsis}
.lhjw8glk{grid-row-gap:32px}
html:not([dir='rtl']) .lhp4ctto{margin-left:7px}
html[dir='rtl'] .lhp4ctto{margin-right:7px}
.lidbxt4q{left:5px}
.lignnmtc{min-height:72px}
html:not([dir='rtl']) .ljrqcn24{text-align:left}
html[dir='rtl'] .ljrqcn24{text-align:right}
html:not([dir='rtl']) .lk91ofgv{padding-right:36px}
html[dir='rtl'] .lk91ofgv{padding-left:36px}
.lkhkxwyq{flex-wrap:wrap}
.lkjmyc96{background-color:var(--drawer-section-background)}
.llkbrke6{min-width:100%}
html:not([dir='rtl']) .llnowng2{border-top-left-radius:5px}
html[dir='rtl'] .llnowng2{border-top-right-radius:5px}
.ln8gz9je{width:100%}
.lnhl94cj{padding-bottom:3em}
.lniyxyh2{height:40px}
html:not([dir='rtl']) .lnjlmjd6{padding-right:5px}
html[dir='rtl'] .lnjlmjd6{padding-left:5px}
.lqdozo90{padding-top:13px}
.lrw9n60e{bottom:3px}
html:not([dir='rtl']) .ltcz4qz9{right:-1px}
html[dir='rtl'] .ltcz4qz9{left:-1px}
.ltyqj8pj{width:-moz-fit-content;width:fit-content}
.lxctpz5v{opacity:0!important}
.lxozqee9{color:var(--status-primary)}
.lxvt2vq0{padding-bottom:33%}
.ly2gu7o9{position:fixed!important}
.lyrceosr{margin-right:8px}
html:not([dir='rtl']) .lysxvg3k{border-bottom-left-radius:calc(var(--radius-app) + 1px)}
html[dir='rtl'] .lysxvg3k{border-bottom-right-radius:calc(var(--radius-app) + 1px)}
.lyutrhe2{color:var(--unread-marker-text)}
html:not([dir='rtl']) .lyvj5e2u{padding-left:16px}
html[dir='rtl'] .lyvj5e2u{padding-right:16px}
.lzi2pvmc{padding-bottom:24px}
.m0h2a7mj{flex-shrink:1}
html:not([dir='rtl']) .m0ig7u5t{margin-left:0!important}
html[dir='rtl'] .m0ig7u5t{margin-right:0!important}
.m0s4cjtr{width:20px}
html:not([dir='rtl']) .m2gb0jvt{border-top-left-radius:24px}
html[dir='rtl'] .m2gb0jvt{border-top-right-radius:24px}
.m35p33ho{color:var(--notification-info-icon)}
.m3ct2rho{margin-top:auto}
html:not([dir='rtl']) .m3qqxsiz{border-top-right-radius:10px}
html[dir='rtl'] .m3qqxsiz{border-top-left-radius:10px}
.m62443ks{pointer-events:none}
html:not([dir='rtl']) .m8i16etx{border-bottom-right-radius:8px}
html[dir='rtl'] .m8i16etx{border-bottom-left-radius:8px}
.ma4rpf0l{margin-top:-2px}
.ma66mwvu{width:calc(100% - 100px)}
.masnrobp{background-color:var(--switch-track-color)}
.mb8var44{z-index:100}
.mbixqzja{stroke:var(--spinner-outgoing)}
html:not([dir='rtl']) .mc6o24uu{padding-left:5px}
html[dir='rtl'] .mc6o24uu{padding-right:5px}
.mfzfak1c{color:var(--primary-text)}
.mggyuyyy{margin-bottom:42px}
.mgp6u6um{width:35px}
html:not([dir='rtl']) .mgssq8h7{padding-right:var(--compose-box-left-right-padding)}
html[dir='rtl'] .mgssq8h7{padding-left:var(--compose-box-left-right-padding)}
.mh8l8k0y{width:60px}
html:not([dir='rtl']) .mhcwslh8{padding-left:6px}
html[dir='rtl'] .mhcwslh8{padding-right:6px}
.mhp1pqu9{min-width:24px}
html:not([dir='rtl']) .mjn2akup{padding-left:2px}
html[dir='rtl'] .mjn2akup{padding-right:2px}
html:not([dir='rtl']) .mjscftrx{border-top-right-radius:6px}
html[dir='rtl'] .mjscftrx{border-top-left-radius:6px}
.ml33x45x{color:var(--security-icon-lock)}
.ml4r5409{text-align:left}
html:not([dir='rtl']) .mmj7r7ye{border-bottom-left-radius:10px}
html[dir='rtl'] .mmj7r7ye{border-bottom-right-radius:10px}
.mnd5airb{color:rgba(var(--icon-strong-rgb),.5)}
html:not([dir='rtl']) .mnh9o63b{border-bottom-left-radius:24px}
html[dir='rtl'] .mnh9o63b{border-bottom-right-radius:24px}
.mnhq3yws{margin-top:2em}
.mpdn4nr2{margin-bottom:0}
.mqqyhd6v{gap:16px}
.mr0xwlll{vertical-align:-4px}
html:not([dir='rtl']) .mrnekr2l{border-top-right-radius:18px}
html[dir='rtl'] .mrnekr2l{border-top-left-radius:18px}
.msavwer2{padding-top:30px}
.mu5rq31i{width:var(--compose-box-menu-width-status-reply)}
.mvf5n2qr{top:5px}
.mvj9yovn{bottom:calc(var(--compose-box-top-bottom-padding) + 3px)}
.mvxzr2tb{color:var(--danger)}
html:not([dir='rtl']) .mw4yctpw{margin-right:4px}
html[dir='rtl'] .mw4yctpw{margin-left:4px}
.mw9hwy0h{padding-top:26px}
.mx6rw3sv{max-width:376px}
.my8w5w2u{background-color:var(--switch-button-checked-color)}
.myeiuhv9{top:50%}
.myel2vfb{padding-bottom:19px}
.mymavskd{color:rgba(var(--primary-strong-rgb),.55)}
.myzbk5ck{color:var(--empty-state-icon)}
.n0uige08{animation-name:o1lewlc5-B}
.n0ziumnz{padding-bottom:9px}
.n1yiu2zv{padding-top:6px}
.n3bptxsn{padding-bottom:15px}
html:not([dir='rtl']) .n3fdhnkw{margin-right:-6px}
html[dir='rtl'] .n3fdhnkw{margin-left:-6px}
html:not([dir='rtl']) .n3l3zu01{border-bottom-left-radius:14px}
html[dir='rtl'] .n3l3zu01{border-bottom-right-radius:14px}
.n45ix5k8{background-color:var(--border-panel)}
html:not([dir='rtl']) .n58sa971{border-bottom-left-radius:50px}
html[dir='rtl'] .n58sa971{border-bottom-right-radius:50px}
.n5a6z3tu{margin-bottom:-12px}
.n73lgpzo{width:var(--compose-box-full-open-menu-width)}
.n8lfltvd{gap:24px}
.n8sohn9f{max-width:125px}
.n9ozkf7y{padding-right:11px}
.nbciif1m{transition-duration:.15s}
.nbczt5ty{z-index:var(--layer-2)}
.nbipi2bn{font-weight:bold}
.ndq9n57b{-webkit-hyphens:auto;-ms-hyphens:auto;hyphens:auto}
.neme6l2y{vertical-align:middle}
.nfc7olq2{width:49px}
.ngycyvoj{margin-bottom:6px}
.nikcn1dq{width:var(--width-vcard-bubble)}
.njub1g37{margin-bottom:7px}
html:not([dir='rtl']) .nlio6qai{border-bottom-left-radius:9999px}
html[dir='rtl'] .nlio6qai{border-bottom-right-radius:9999px}
.nlnf8xo7{padding-top:20px}
.nlxcpvin{letter-spacing:1.5px}
.nmeg1xfo{clip:rect(0 0 0 0)}
.nmreelbr{animation-name:eirysc09-B}
html:not([dir='rtl']) .nnr224yo{border-bottom-right-radius:99999px}
html[dir='rtl'] .nnr224yo{border-bottom-left-radius:99999px}
html:not([dir='rtl']) .nntdgyy8{padding-left:19px}
html[dir='rtl'] .nntdgyy8{padding-right:19px}
.noboit18{height:62px}
.notw83rv{opacity:.25}
html:not([dir='rtl']) .nqtxkp62{padding-left:12px}
html[dir='rtl'] .nqtxkp62{padding-right:12px}
.ns59xd2u{flex-wrap:wrap-reverse}
html:not([dir='rtl']) .ntr8esoy{margin-right:7px}
html[dir='rtl'] .ntr8esoy{margin-left:7px}
html:not([dir='rtl']) .nu34rnf1{padding-left:8px}
html[dir='rtl'] .nu34rnf1{padding-right:8px}
.nu7pwgvd{min-height:0}
.nucpke6t{min-width:48px}
.nuiuantz{color:var(--chip-button-foreground)}
.nwuq7i8t{width:336px}
html:not([dir='rtl']) .nxn8agaf{margin-left:-4px}
html[dir='rtl'] .nxn8agaf{margin-right:-4px}
.nylzjxre{margin-top:30px}
.nypubj7v{gap:10px}
html:not([dir='rtl']) .nzcjdldu{margin-left:16px}
html[dir='rtl'] .nzcjdldu{margin-right:16px}
.o0rubyzf{color:var(--link)}
.o0vrdr7e{max-height:90px}
html:not([dir='rtl']) .o0wkt7aw{border-bottom-left-radius:2px}
html[dir='rtl'] .o0wkt7aw{border-bottom-right-radius:2px}
@keyframes o1lewlc5-B{from{opacity:0;}to{opacity:1;}}
.o22r6p4i{width:76px}
.o27ac25e{background-color:var(--product-placeholder-background)}
.o2es7gts{align-self:center}
.o2v2jkg7{color:var(--button-secondary)}
html:not([dir='rtl']) .o2zu3hjb{border-bottom-left-radius:50%}
html[dir='rtl'] .o2zu3hjb{border-bottom-right-radius:50%}
.o3jcrxmo{color:var(--message-placeholder-icon)}
.o404977b{min-height:151px}
.o4oavg8t{color:var(--map-overlay-foreground)}
.o4u7okr9{justify-content:space-between}
.o8fg3bdd{background-color:var(--map-overlay-background)}
html:not([dir='rtl']) .o93wvyfv{border-top-right-radius:3px}
html[dir='rtl'] .o93wvyfv{border-top-left-radius:3px}
.o9i7y497{margin-top:-1px}
.o9wlm8ph{-webkit-transition:-webkit-filter .16s linear}
.oa9ii99z{transition-timing-function:cubic-bezier(.4,0,.2,1)}
.oauresqk{animation-duration:1s}
.obt84bhp{margin-top:-24px}
.oc1ubkv0{margin-right:auto}
.ocd2b0bc{padding-top:3px}
.ocs0cmsa{min-height:24px}
.od95x2mx{gap:8px}
.odoy9p39{color:var(--ptt-draft-button-stop)}
html:not([dir='rtl']) .oer0kere{border-top-left-radius:9999px}
html[dir='rtl'] .oer0kere{border-top-right-radius:9999px}
.ofejerhi{text-transform:uppercase}
.ofrvpfun{min-height:165px}
html:not([dir='rtl']) .ohq8n1fk{right:12px}
html[dir='rtl'] .ohq8n1fk{left:12px}
.ohuqqxaf{height:45px}
html:not([dir='rtl']) .ojci89ib{margin-right:1px}
html[dir='rtl'] .ojci89ib{margin-left:1px}
.okm7a8wg{-webkit-clip-path:inset(50%);clip-path:inset(50%)}
html:not([dir='rtl']) .om6y7gxh{margin-right:2px}
html[dir='rtl'] .om6y7gxh{margin-left:2px}
html:not([dir='rtl']) .ooj5yc5b{border-top-right-radius:8px}
html[dir='rtl'] .ooj5yc5b{border-top-left-radius:8px}
.opp68qpq{margin-top:10px}
.oq31bsqd{padding-bottom:8px}
.oq44ahr5{flex-shrink:0}
.oqp0d33z{margin-bottom:25px}
.or9x5nie{margin-bottom:8px}
.osjza8ju{max-width:var(--width-vcard-bubble)}
.osvl0z4i{padding-left:19px}
.ou6eaia9{right:7px}
.ovhn1urg{background-color:var(--unread-marker-background)}
.ovllcyds{font-size:0.8125rem}
.oybnjv0e{top:calc((var(--compose-box-menu-height) - 2 * var(--compose-box-top-bottom-padding) - 26) * .5)}
html:not([dir='rtl']) .oybqnh0n{margin-left:48px}
html[dir='rtl'] .oybqnh0n{margin-right:48px}
html:not([dir='rtl']) .oz083wsx{margin-right:12px}
html[dir='rtl'] .oz083wsx{margin-left:12px}
html:not([dir='rtl']) .oz0g9ue8{margin-left:6px}
html[dir='rtl'] .oz0g9ue8{margin-right:6px}
html:not([dir='rtl']) .p2tfx3a3{padding-left:calc(50% - 250px)}
html[dir='rtl'] .p2tfx3a3{padding-right:calc(50% - 250px)}
.p357zi0d{display:flex}
html:not([dir='rtl']) .p3lsiedt{margin-left:5px}
html[dir='rtl'] .p3lsiedt{margin-right:5px}
.p3nha244{transition-property:height}
.p4t1lx4y{transition-duration:.3s}
.p6im964z{top:-999999px}
.p9a4hubg{padding-bottom:14px}
.p9fp32ui{font-size:1.25rem}
html:not([dir='rtl']) .paxyh2gw{border-top-right-radius:var(--radius-thumb)}
html[dir='rtl'] .paxyh2gw{border-top-left-radius:var(--radius-thumb)}
html:not([dir='rtl']) .pbp0z3j0{padding-right:13px}
html[dir='rtl'] .pbp0z3j0{padding-left:13px}
.pbzwqulz{background-color:var(--ptt-gray-badge)}
.pcbmd69e{padding-bottom:18px}
.pcx1034m{margin-top:-30px}
.pel5o5rz{margin-bottom:0!important}
.pglj95m3{z-index:var(--layer-9)}
.pgz13gmm{bottom:-4px}
.phqmzxqs{font-size:100%}
html:not([dir='rtl']) .pkud3j3x{border-bottom-left-radius:6px}
html[dir='rtl'] .pkud3j3x{border-bottom-right-radius:6px}
.pm5hny62{color:var(--secondary)}
html:not([dir='rtl']) .pmmx02fg{margin-left:-7px}
html[dir='rtl'] .pmmx02fg{margin-right:-7px}
html:not([dir='rtl']) .pnfw7ual{padding-right:58px}
html[dir='rtl'] .pnfw7ual{padding-left:58px}
.pp8r7oc8{color:rgba(var(--inverse-rgb),.9)}
.ppled2lx{height:100%}
.pppsat04{padding-right:0}
.ppv8chjk{background-color:rgba(var(--white-rgb),.2)}
.ppypbuwx{padding-top:2px}
.pqvv99ib{animation-timing-function:cubic-bezier(.1,.82,.25,1);}
.przvwfww{padding-bottom:0}
.ptatjang{left:4px}
.ptcoeott{stroke:var(--spinner-incoming)}
.ptxfukc7{height:124px}
.pu4k07i0{transition-timing-function:ease}
.puskumha{background-color:var(--tooltip-background)}
.pvbam5uh{line-height:24px}
.px10qoeu{z-index:200}
.pxvlsfnc{padding-top:15px}
.pydpkpus{height:90px}
.pz0xruzv{margin-bottom:15px}
html:not([dir='rtl']) .pz6oj2k2{border-top-right-radius:50px}
html[dir='rtl'] .pz6oj2k2{border-top-left-radius:50px}
.q1n4p668{height:56px}
.q1nnjopg{padding-bottom:17px}
.q1tx93la{padding-bottom:28px}
html:not([dir='rtl']) .q471nw87{margin-right:5px}
html[dir='rtl'] .q471nw87{margin-left:5px}
.q6wg26sa{line-height:1.3}
.q82cfhbg{right:20px}
.qaop2s2o{stroke:rgba(var(--white-rgb),.9)}
.qbqilfqo{padding-top:1px}
.qddwjlxl{margin-left:5px}
.qfejxiq4{text-align:center}
.qg8w82as{width:19px}
.qgpfrw6h{height:22px}
html:not([dir='rtl']) .qiohso4h{padding-left:1px}
html[dir='rtl'] .qiohso4h{padding-right:1px}
.qiqvuef5{color:var(--white)}
.qj9ovlz3{background-color:#FFF}
.qlb265nb{padding-top:9px}
.qmp0wt83{height:50px}
.qnwaluaf{background-size:cover}
html:not([dir='rtl']) .qnz2jpws{margin-left:4px}
html[dir='rtl'] .qnz2jpws{margin-right:4px}
.qomlamqu{padding-top:5px}
.qpocut9d{left:8px}
.qpqgzaqc{left:1px}
.qpsqveag{background-color:#000}
.qq0sjtgm{top:0}
.qrsyb3yy{margin-bottom:3%}
.qssinsw9{width:40px}
.qt60bha0{margin-top:4px}
.qwzl264q{z-index:999}
.qzvtbs9h{flex-direction:column-reverse}
.r15c9g6i{align-items:flex-start}
html:not([dir='rtl']) .r18xjin9{border-top-left-radius:50px}
html[dir='rtl'] .r18xjin9{border-top-right-radius:50px}
html:not([dir='rtl']) .r1ncx0sg{border-bottom-right-radius:10px}
html[dir='rtl'] .r1ncx0sg{border-bottom-left-radius:10px}
.r1vzeywj{max-width:240px}
.r219jyu0{padding-bottom:20px}
.r2u2pyhj{margin-bottom:32px}
.r5qsrrlp{line-height:20px}
html:not([dir='rtl']) .r67mms0c{margin-right:0!important}
html[dir='rtl'] .r67mms0c{margin-left:0!important}
.r6jd426a{align-items:flex-end}
.r6unq4of{--T68779821:0 0 0 3px rgba(var(--focus-rgb),.5);box-shadow:0 0 0 3px rgba(var(--focus-rgb),.5)}
html:not([dir='rtl']) .r6x3u63k{margin-left:30px}
html[dir='rtl'] .r6x3u63k{margin-right:30px}
html:not([dir='rtl']) .r76eoqdq{right:-13px}
html[dir='rtl'] .r76eoqdq{left:-13px}
.r7fjleex{overflow-y:hidden}
.r7focko8{color:rgba(var(--primary-strong-rgb),.1)}
.r7yn1a4o{min-width:18px}
.r8dd7jr1{top:8px}
.r8quorc8{color:var(--ptt-draft-button-cancel)}
.rcg4vxlo{cursor:inherit}
.rd228egi{height:44px}
.re3l9645{color:var(--cell-chat-secondary-color,var(--secondary))}
.rek1qe2c{margin-top:1em}
html:not([dir='rtl']) .rfxpxord{border-top-right-radius:24px}
html[dir='rtl'] .rfxpxord{border-top-left-radius:24px}
.rgvqn4sm{min-width:2.25em}
html:not([dir='rtl']) .rh5xaqwm{border-bottom-right-radius:7px}
html[dir='rtl'] .rh5xaqwm{border-bottom-left-radius:7px}
.rhe1kc9j{filter:drop-shadow(-1px 1px 1px rgba(0,0,0,.5))}
html:not([dir='rtl']) .riy2oczp{padding-left:.4em}
html[dir='rtl'] .riy2oczp{padding-right:.4em}
.rjo8vgbg{flex-basis:0}
.rjxfi64q{height:var(--sticker-size-details)}
.rkip0xea{margin-bottom:9px}
.rkwy1u70{max-width:420px}
.rkxvyd19{user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none}
html:not([dir='rtl']) .rn41jex5{padding-left:13px}
html[dir='rtl'] .rn41jex5{padding-right:13px}
.ro9hr2xy{margin-left:10px}
html:not([dir='rtl']) .rppts313{padding-left:10px}
html[dir='rtl'] .rppts313{padding-right:10px}
.rrbwxby4{padding-left:6px}
.rrq4r3yd{background-color:var(--incoming-background-deeper)}
.rsmgdaqi{right:5px}
.ruf70zuo{width:20em}
.ruh8h8mp{max-height:54px}
.rv6u8h8g{background-color:var(--rich-text-panel-background)}
html:not([dir='rtl']) .rvlagp7p{margin-right:20px}
html[dir='rtl'] .rvlagp7p{margin-left:20px}
.rwfn434h{font-size:1em}
.rwlvdxyg{align-self:flex-end}
.ryab0j1q{right:auto}
html:not([dir='rtl']) .ryaohf54{margin-right:-3px}
html[dir='rtl'] .ryaohf54{margin-left:-3px}
.s0bejz76{animation-name:jlc02bb6-B}
.s0eflmyh{background-color:var(--outgoing-background-deeper)}
.s15egc35{margin-top:0!important}
.s1e5xcja{justify-content:space-evenly}
html:not([dir='rtl']) .s2vc4xk1{border-bottom-right-radius:2px}
html[dir='rtl'] .s2vc4xk1{border-bottom-left-radius:2px}
.s4k44ver{color:var(--icon-lighter)}
.s52zzds6{text-shadow:0 0 1px rgba(var(--shadow-rgb),.36)}
.s5lidh1j{z-index:99}
.s79hpmcy{transform-origin:center}
html:not([dir='rtl']) .s7jcu7x1{right:-7px}
html[dir='rtl'] .s7jcu7x1{left:-7px}
.s8gyl5p1{padding-bottom:2px}
.s9fl9ege{padding-bottom:var(--padding-drawer-bottom)}
html:not([dir='rtl']) .s9xya5d7{padding-left:36px}
html[dir='rtl'] .s9xya5d7{padding-right:36px}
html:not([dir='rtl']) .sa2xs5zj{border-bottom-right-radius:50px}
html[dir='rtl'] .sa2xs5zj{border-bottom-left-radius:50px}
.sai7fuui{height:32px}
.sap93d0t{flex-direction:row}
.sbs3osm6{color:var(--primary-muted)}
html:not([dir='rtl']) .sd2p8cyi{margin-left:-3px}
html[dir='rtl'] .sd2p8cyi{margin-right:-3px}
.se2m7z6i{background-color:var(--drawer-background-deep)}
.seuajalt{color:var(--button-bubble)}
html:not([dir='rtl']) .sfeitywo{border-bottom-right-radius:var(--radius-thumb)}
html[dir='rtl'] .sfeitywo{border-bottom-left-radius:var(--radius-thumb)}
.sgifyl94{width:90px}
.sh5ccnuw{height:calc(100% - var(--h-pane-header))}
.shdiholb{font-family:inherit}
.shq0pg4y{filter:drop-shadow(0 1px 4px rgba(var(--shadow-rgb),.25))}
.sid27bd6{line-height:17px}
.sjyhwr5o{background-color:none}
.sku37djt{stroke:var(--spinner-highlight)}
.slgfab0f{padding-bottom:30px}
.slppp3mo{transition-duration:.1s}
.smoo1fur{height:54px}
html:not([dir='rtl']) .snweb893{padding-left:3px}
html[dir='rtl'] .snweb893{padding-right:3px}
.snyj76hw{position:fixed}
html:not([dir='rtl']) .spjzgwxb{margin-right:10px}
html[dir='rtl'] .spjzgwxb{margin-left:10px}
.sptw4ec9{height:131px}
.sq87qsu4{padding-bottom:26px}
.sr23wnuw{width:var(--sticker-size-details)}
html:not([dir='rtl']) .sta02ykp{padding-left:24px}
html[dir='rtl'] .sta02ykp{padding-right:24px}
.stnyektq{height:28px}
.svlsagor{color:var(--icon)}
html:not([dir='rtl']) .svoq16ka{margin-left:0}
html[dir='rtl'] .svoq16ka{margin-right:0}
.svpeipy5{background-color:var(--intro-background)}
.sw4r90y6{animation-duration:1.5s}
.sx18v0w4{margin-left:2px}
.sx61ek5s{transform-origin:50% 50%}
html:not([dir='rtl']) .sxdjimme{left:12px}
html[dir='rtl'] .sxdjimme{right:12px}
.sxkbojvh{gap:20px}
.sxl192xd{background-repeat:no-repeat}
html:not([dir='rtl']) .sxwtddgj{margin-left:-33px}
html[dir='rtl'] .sxwtddgj{margin-right:-33px}
.sy4xt5vv{margin-top:-5px}
.sy6s5v3r{font-weight:600}
.t0mgield{color:var(--text-title-color,var(--primary-strong))}
.t35qvd06{color:var(--input-placeholder)}
.t3g6t33p{background-position:center}
.t4zgqcuo{margin-bottom:12px}
.t63vcusb{color:var(--security-icon-shield)}
.t6kbzwdk{padding-left:9px}
.t7i5gvrw{color:#919191}
.t9hu7tsx{width:calc(100% - 20px)}
html:not([dir='rtl']) .t9wpllip{margin-right:18px}
html[dir='rtl'] .t9wpllip{margin-left:18px}
html:not([dir='rtl']) .tcg15ap9{border-top-right-radius:4px}
html[dir='rtl'] .tcg15ap9{border-top-left-radius:4px}
html:not([dir='rtl']) .td5bf8pq{padding-right:50px}
html[dir='rtl'] .td5bf8pq{padding-left:50px}
.tddarlmj{width:34px}
.tffp5ko5{text-align:inherit}
.tfi85p4o{width:calc(100% - 58px)}
.th8ck7tu{--T68779821:0 -1px 3px var(--shadow-light)!important;box-shadow:0 -1px 3px var(--shadow-light)!important}
.thbdkvv5{padding-right:7px}
.thghmljt{z-index:var(--layer-1)}
.thr4l2wc{background-color:transparent}
html:not([dir='rtl']) .tigrmefi{margin-left:9px}
html[dir='rtl'] .tigrmefi{margin-right:9px}
html:not([dir='rtl']) .tkdu00h0{left:0}
html[dir='rtl'] .tkdu00h0{right:0}
.tkmeqcnu{animation-iteration-count:infinite}
.tknnhhou{width:32px}
.tl2vja3b{color:var(--primary-strong)}
.tl6iuc6d{height:86px}
.tp4bj0rl{background-color:rgba(0,0,0,.4)}
html:not([dir='rtl']) .tpmajp1w{padding-right:.4em}
html[dir='rtl'] .tpmajp1w{padding-left:.4em}
.trnfqnf9{max-height:376px}
.tspiaou6{padding-top:.25em}
html:not([dir='rtl']) .tt8exp03{border-top-left-radius:99999px}
html[dir='rtl'] .tt8exp03{border-top-right-radius:99999px}
.tt8xd2xn{margin-top:0}
.ttegvvei{height:var(--cell-height)}
.tthqcax0{max-width:168px}
.tukmaf4q{left:0}
.tvf2evcx{flex-grow:0}
.tviruh8d{color:var(--primary)}
.tvsr5v2h{padding-top:16px}
.tvsw1x19{max-height:220px}
.tw6b5hi5{padding-left:10px}
.v76qf5v1{flex-direction:row-reverse}
html:not([dir='rtl']) .wu0i2wpa{border-bottom-right-radius:18px}
html[dir='rtl'] .wu0i2wpa{border-bottom-left-radius:18px}
html:not([dir='rtl']) .y4d21rkf{border-top-right-radius:14px}
html[dir='rtl'] .y4d21rkf{border-top-left-radius:14px}
.ywgftmbl{width:var(--sticker-size-panel)}
.zqptfkjs{grid-column-gap:16px}
.bsbo06yw::before{transform:translate(-50%,-50%)}
.cai600lj:after{transform:translate(-50%,-50%)}
.fji5f4ri:after{background:var(--icon)}
.k95pjfv1:before{transform:translate(-50%,-50%)}
.n2obx7p9::after{transform:translate(-50%,-50%)}
.nkmjymgc:before{background:var(--icon)}
.rnzbggcn::before{background:rgba(var(--overlay-rgb),.6)}
@media (min-width: 1300px){html:not([dir='rtl']) .acdu7ris.acdu7ris{margin-right:-10px}}
@media (min-width: 1300px){html[dir='rtl'] .acdu7ris.acdu7ris{margin-left:-10px}}
.b0f5vxaq:after{display:block}
html:not([dir='rtl']) .bl44g9bl::before{border-bottom-left-radius:var(--radius-thumb)}
html[dir='rtl'] .bl44g9bl::before{border-bottom-right-radius:var(--radius-thumb)}
html:not([dir='rtl']) .bunkm0yn:after{left:50%}
html[dir='rtl'] .bunkm0yn:after{right:50%}
.c4kjmepz::before{left:50%}
.chh99fau::before{display:block}
.ckfn5qle::before{content:""}
.dbiwaw4z::after{width:3px}
.dgw4ccbq::before{z-index:9}
.dkvli2l0:after{position:absolute}
.evuypb09::before{width:100%}
.f76rftwh::before{content:"~"}
html:not([dir='rtl']) .faao65il::before{border-top-right-radius:var(--radius-thumb)}
html[dir='rtl'] .faao65il::before{border-top-left-radius:var(--radius-thumb)}
.flcm9zni::before{height:100%}
html:not([dir='rtl']) .gaz0s4oj::before{border-top-left-radius:var(--radius-thumb)}
html[dir='rtl'] .gaz0s4oj::before{border-top-right-radius:var(--radius-thumb)}
@media (min-width: 1300px){html:not([dir='rtl']) .hfp8519b.hfp8519b{margin-left:-10px}}
@media (min-width: 1300px){html[dir='rtl'] .hfp8519b.hfp8519b{margin-right:-10px}}
.i0a739jv::before{height:3px}
.i0r7mfoh:after{height:20px}
.ijeufx4s:before{top:50%}
.iu8zqbur::before{top:50%}
.jaq0b63r:before{height:3px}
.jiaumjzp::before{position:absolute}
.k15o3o4i:after{content:""}
.khfyavfg::after{top:50%}
.l1wvjj35::after{display:block}
.l9a7srmz::after{height:20px}
.lij4d1x3:before{content:""}
.ln1ej6zg::before{width:20px}
.lw9p9708::after{content:""}
html:not([dir='rtl']) .meq75apj:before{left:50%}
html[dir='rtl'] .meq75apj:before{right:50%}
.nly7wueh::after{left:50%}
@media (max-width: 1441px){.o135me7o.o135me7o{width:80%}}
html:not([dir='rtl']) .o9exb5zn::before{border-bottom-right-radius:var(--radius-thumb)}
html[dir='rtl'] .o9exb5zn::before{border-bottom-left-radius:var(--radius-thumb)}
.oa3lyrek:before{display:block}
.oxaw94s0:before{position:absolute}
.qbfuvgfc:after{width:3px}
.qi2a0yje:after{top:50%}
.sadoqatt::after{background-color:var(--icon)}
.slvs4faj:before{width:20px}
.t4c1fkc8::before{background-color:var(--icon)}
.tkubpkrc::after{position:absolute}
.edeob0r2:hover{text-decoration:underline}
.ksz6vod1:hover{transform:scale(1.1)}
.o69d8n2f:hover{text-decoration:none}
.sl8qjjwd:hover{transform:scale(1.06)}
.cx8fzybs:hover{will-change:width}
.fiyt298h:hover{color:var(--ptt-draft-button-send-hover)}
.gnd3v8n5:hover{opacity:.8}
.jhshxy31:hover{background-color:var(--gray-30)!important}
.mtber8f9:hover{color:var(--ptt-draft-button-cancel-hover)}
.os03hap6:hover{background-color:var(--background-default-hover)}
.qpj2ed6z:hover{color:var(--ptt-draft-button-stop-hover)}
.sao4npu1:hover{color:var(--ptt-draft-button-play-pause-hover)}
.esbo3we0:focus{--T68779821:0 0 0 2px rgba(var(--focus-rgb),.5);box-shadow:0 0 0 2px rgba(var(--focus-rgb),.5)}
html:not([dir='rtl']) .f9yclydc:focus{border-bottom-right-radius:2px}
html[dir='rtl'] .f9yclydc:focus{border-bottom-left-radius:2px}
html:not([dir='rtl']) .mmjxyicr:focus{border-top-left-radius:2px}
html[dir='rtl'] .mmjxyicr:focus{border-top-right-radius:2px}
html:not([dir='rtl']) .mtzt60z0:focus{border-bottom-left-radius:2px}
html[dir='rtl'] .mtzt60z0:focus{border-bottom-right-radius:2px}
html:not([dir='rtl']) .r1jx4bdh:focus{border-top-right-radius:2px}
html[dir='rtl'] .r1jx4bdh:focus{border-top-left-radius:2px}
.t5zm8b4w:focus{--T68779821:0 0 0 2px rgba(var(--focus-rgb),.5);box-shadow:0 0 0 2px rgba(var(--focus-rgb),.5);}